<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{name}} to django app</h1>
    <a href="/form">click to add numbers</a>
    <p>You are {{age}} years old</p>
    {% if cities %}
    <h3>List of cities</h3>
    <ol>
        {% for city in cities %}
            <li>{{city}}</li>
        {% endfor %}
    </ol>
    {% endif %}
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, alias, facere nisi unde accusantium numquam voluptas doloremque ea dignissimos distinctio nam asperiores ullam magnam! Quisquam laudantium distinctio tempore dolorem. Ipsa!</p>
</body>
</html>